doctype html
html( lang="zh-CN")
    head
        meta(charset="utf-8")
        meta(name="viewport",content="width=device-width, initial-scale=1.0, user-scalable=0;")
        title= "K2 创业网络"
        link(rel="shortcut icon" href="/images/logo.png")
        link(rel="stylesheet",type="text/css",href="/dist/styles/bootstrap.css")
        link(rel = "stylesheet", type = "text/css", href = "/dist/styles/k2.css")

        script(src="/dist/scripts/vendors/jquery/jquery-1.11.3.min.js")
        script(src="/dist/scripts/vendors/jquery/jquery.blockUI.js")
        script(src="/dist/scripts/vendors/underscore.js")
        script(src="/dist/scripts/vendors/bootstrap.min.js")
        script(src="/dist/scripts/vendors/masonry.js")
        script(src="/dist/scripts/vendors/imagesloaded.js")
        script(src="/dist/scripts/web/flow.js")
    block content