doctype html
html( lang="zh-CN")
    head
        meta(charset="utf-8")
        meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;")
        link(rel="shortcut icon" href="/images/logo@2x.png" type="image/x-icon")
        title= "K2 创业网络"
        link(rel="stylesheet",type="text/css",href="/dist/styles/bootstrap.css")
        link(rel = "stylesheet", type = "text/css", href = "/dist/styles/mobile.css")
        script(src="/dist/scripts/vendors/jquery/jquery-1.11.3.min.js")
        script(src="/dist/scripts/vendors/jquery/jquery.blockUI.js")
        script(src="/dist/scripts/vendors/underscore.js")
        script(src="/dist/scripts/vendors/bootstrap.min.js")
        script(src="/dist/scripts/vendors/masonry.js")
        script(src="/dist/scripts/vendors/imagesloaded.js")
        script(src = "http://res.wx.qq.com/open/js/jweixin-1.0.0.js")
        //script(src="/dist/scripts/mobile/wxBridge.js")
        script(src="/dist/scripts/mobile/flow.js")
    block content