extends layout

block content
  h1= title
  p Welcome to #{title}
  div(class='container')
    form(method='post' action='/users?login=1' class='form-horizontal')
      div(class='form-group')
        label(for='username' class="col-sm-2 control-label") Username
        div(class="col-sm-4")
          input(id='username' name='username' class="form-control" required)
      div(class='form-group')
        label(for='password' class="col-sm-2 control-label") Password
        div(class="col-sm-4")
          input(id='password' name='password' class="form-control" type="password" require)
      div(class='form-group')
        div(class="col-sm-offset-2 col-sm-4")
          button(type='submit' class="btn btn-default") Login
