@import "base.less";

*{.pd(0px); .mg(0px); .b(0px);  font-family: "Georgia","PingFangSC Regular";}
li{list-style: none;}
.container{.pd(0px);}
.row{.mg(0px); .pd(0px);}

.homePage{
  //min-width: 1098px;
  .w(100%);
  .header{
    .w(100%); .h(700px);
    .pd(0px 0px 10%);
    .bgimg('/images/cloud@2x.png');
    .bgcenter();  .bgpos(100% 30%);
    .logoTab{
      .mg(0px 20%); .w(60%);
      .tab{
        .pd(30px); .mg(0px 22px); cursor: pointer;
        //.bgimg('/images/tip_bg.png');
        //.bgcenter();
        background: -webkit-linear-gradient(rgba(255,255,255,0.7) 80%, rgba(255,255,255,0) 98%);
        .icon{
          img{
            .mg(70px auto 50px); .disB();
            .w(50px); .h(50px);
          }
        }
        h3{
          .c(@word); .tc(); //.mg(50px auto);
        }
        .text{
          .c(@word); .f(12px); .pd(30px 0px 130px);
          .more{.c(#7f7f7f);}
        }
      }
    }
    .searchRow{
      .pa(); top:600px; .w(100%);
      .pd(5px 20%);
      .search{
        //.pd(140px 0px 50px);
        .pd(3px 0px 3px 10px);
        .w(100%); .bgc(#bebebe); .br(14px);
        //cursor: pointer;
        img{
          .vm(); .disI(); .mg(1px);
          .w(20px);  .h(auto);
          //.mg(0px 0px 0px 5px);
        }
        .searchInput{
          .ff("PingFangSC Light"); .f(12px);
          .w(70%); .bgc(transparent); .disIB();
          .mg(0px 0px 0px 5px); .c(white); .vm();
          .b(0px); .lh(20px);
        }
        .searchInput:focus{
          .b(0px); .lh(20px);
          outline:none;
        }
        .searchInput::-webkit-input-placeholder{  .c(white); .mg(0px 10px);  }
        .searchInput::-moz-placeholder{.c(white); .mg(0px 10px); }
        .searchInput:focus::-webkit-input-placeholder, {  .c(white);  .opacity(0); .f(14px);  }
        .searchInput:focus::-moz-placeholder{  .c(white);  .opacity(0);  .f(14px); }
      }
    }
    .searchTop{
      box-shadow: #999 0px 0px 10px;
      .bgc(white); top: 0px; .pf(); .z(10);
    }
  }
  .container{
    .w(60%); margin-top: -30px;
    .row{
      .pd(0px); .mg(0px);

      .item{
        float: left;
        .pd(5px 22px);
        .thumbnail{
          .pd(0px);
          cursor: pointer;
          box-shadow: #d9d9d9 0px 5px 15px;
          .b(0px); .br(7px);
          .avatar{
            .w(100%);
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
          }
          .caption{
            .pd(0px 30px 20px);
            h3{ .pd(10px 0px 10px); .c(#4e4e4e);}
            p, .weibo, span{.t(left);  .c(#4e4e4e); .f(12px); .mg(0px);}
            .weibo{
              .pd(10px 0px);
              img{.h(20px); .mg(0px 10px 0px 0px); .vm();}
              span{
                .f(20px); .vm(); .c(#4e4e4e);
              }
            }
            a{.c(#4e4e4e); text-decoration: underline;word-wrap: break-word;.f(12px); .mg(10px 0px);}
          }
        }
      }
    }
  }

}


.footer{
  .pd(60px 0px 50px); .tc();
  a{
    .c(@footer); .f(14px);
  }
  .company{
    .c(@footer); .f(14px);
  }
}

.searchPage{
  .header{
    .mg(0px);  .pd(10px 20%);
    .bgc(white); .pf(); .z(10); .w(100%);
    //box-shadow: #999 0px 0px 10px;
    .shadowMobile();
    .home{
      a{
        img{
          .vm(); .w(30px); .h(auto);
        }
        span{
          .vm(); .c(@word); .f(16px); .pd(0px 10px);
        }
      }
      a:hover{text-decoration: none;}
    }
    .home:focus{
      text-decoration: none;
    }
    .searchPanel{
      .search{
        .w(100%); .bgc(#7f7f7f);
        .pd(3px 0px 3px 10px);
        .br(14px);
        img{
          .vm(); .disI(); .mg(3px 0px);
          .w(16px);  .h(auto); float: left;
          //.mg(0px 0px 0px 5px);
        }
        .searchInput{
          .bgc(transparent); .disIB(); .w(60%);
          .mg(0px 0px 0px 7px); .c(white); .vm();
          .b(0px); .lh(20px);
        }
        .searchInput:focus{
          .b(0px); .lh(20px);
          outline:none;
        }
        .searchInput::-webkit-input-placeholder{
          .c(white);
        }
        .closeSearch{
          float: right; .w(16px);
          .mg(3px 6px 3px 0px);
          cursor: pointer;
          .opacity(60);
        }
        .closeSearch:hover{
          .opacity(100);
        }
      }
    }
  }
  .container{
    .w(60%);
    .pd(45px 0px 0px);
    .list{
      .pd(0px); .mg(3% 0px 0px);
      .item{
        float: left;
        .thumbnail{
          .pd(0px);
          box-shadow: #999 0px 5px 15px;
          .b(0px); .br(7px);
          .avatar{
            .w(100%);
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
          }
          .caption{
            .pd(30px);
            h3{.c(#4e4e4e); .pd(10px 0px); }
            p, .weibo, span{.t(left); .c(#4e4e4e); }
            .weibo{
              .pd(10px 0px);
              img{.h(20px); .mg(0px 10px); .vm();}
              span{
                .c(#4e4e4e); .f(20px); .vm();
              }
            }
            a{.c(#4e4e4e); text-decoration: underline;word-wrap: break-word;}
          }
        }
      }
    }
  }
  .nolist{
    .pa(); top:0px; left: 0px; right: 0px; bottom: 0px;
    overflow: hidden;
    img{
      .w(100%); .opacity(30); .z(1);
    }
    div{
      .w(100%); .c(#7f7f7f); .tc(); font-weight: 100;
      .pa(); top: 130px; .f(18px);
      .pd(0px 25px); .tc();
    };
    .searchName{
      font-weight: 900; .f(20px); .c(@word);
      //.ff("Georgia");
    }
  }
}

.card{
  //.w(30%);
  .thumbnail{
    .pd(50px);
    .br(10px);
    margin-bottom: 50px;
    box-shadow: #d9d9d9 0px 5px 15px;
    .b(0px); .br(7px);
    .avatar{
      .w(100%);
    }
    .caption{
      h3{ .pd(10px 0px); .c(#4e4e4e);}
      p{.lh(30px);}
      p, .weibo, span{.t(left);  .c(#4e4e4e); }
      .weibo{
        .pd(10px 0px);
        img{.h(20px); .mg(0px 10px 0px 0px); .vm();}
        span{
          .f(20px); .vm(); .c(#4e4e4e);
        }
      }
      a{.c(#4e4e4e); .t(left);  text-decoration: underline;word-wrap: break-word; .disB();}
    }
  }
}



@media screen and (max-width: 430px){
  .searchPage{
    .nolist{
      img{
        .w(260%); .mg(50px 0px 0px -80%);
      }
    }
  }
}

@media screen and (max-width: 768px){
  .homePage{
    .header{
      .logoTab{
        .w(100%); .mg(0px);
      }
      .searchRow{
        .pd(5px 0px);
      }
    }
    .container {
      .w(100%);
      .list{
        .mg(6% 5% 0px);
        .item{
          .pd(0px 10px);
          .thumbnail{
            .caption{
              .pd(10px);
              h3{  .mg(0px); .pd(5px 0px);  }
              p{  .mg(20px 0px);  }
              .weibo{
                img{ .mg(0px auto); .disB(); }
              }
            }
          }
        }
      }
    }
  }

  .searchPage{
    .header{
      .pd(10px 0px);
      .home{
        .disN();
      }
      .closeBtn{
        .disB(); padding-right: 0px;
        img{
          .w(20px);
          .mg(5px auto);
          .disB();
        };
      }
    }
    .container {
      .w(100%);
      .nolist{
        img{
          .w(250%);
          .mg(11% -75%);
        }
      }
      .list{
        .mg(6% 5% 0px);
        .item{
          .pd(0px 10px);
          .thumbnail{
            .caption{
              .pd(10px);
              h3{  .mg(0px); .pd(5px 0px);  }
              p{  .mg(20px 0px);  }
              .weibo{
                img{ .mg(0px auto); .disB(); }
              }
            }
          }
        }
      }
    }

  }
}
@media screen and (min-width: 992px){
  .homePage{
    .header {
      .h(700px);
      .searchRow{
        top: 520px;
      }
      .searchTop{top:0px;}
      .logoTab{
        .tab{
          .w(200px);  .h(500px);
          .pd(30px 30px 130px);
          .icon{
            img{
              .mg(50px auto 35px);
            }
          }
        }
      }
    }
    .container {
      //width: 900px;
      margin-top: -100px;
    }
  }
  .closeBtn{
    .disN();
  }
}
@media screen and  (min-width: 1200px){
  .homePage{
    .header {
      .h(700px);
      .searchRow{
        top: 510px;
      }
      .searchTop{top:0px;}
      .logoTab{
        .mg(0px 20%); .w(60%);
        .tab{
          .pd(30px); .mg(0px 22px); .h(500px);
          .icon{
            img{
              .mg(40px auto 30px);
              .w(50px); .h(50px);
            }
          }
          h3{
            //.mg(50px auto);
          }
          .text{
            .pd(20px 0px 130px);
          }
        }
      }
    }
    .container {
      margin-top: -130px;
    }
  }
  .closeBtn{
    .disN();
  }
}
@media screen and  (min-width: 1600px){
  .homePage{
    .header {
      .h(900px);
      .searchRow{
        top: 680px;
      }
      .searchTop{top:0px;}
      .logoTab {
        .tab {
          .w(220px); .h(700px);
          .pd(40px 30px 100px);
          .text{  .f(14px);  }
        }
      }
    }
    .container{
      margin-top: -150px;
    }
  }
  .card{
    .thumbnail{
      .caption{
        p{.lh(30px);}
      }
    }
  }
}
@media screen and  (min-width: 2000px){
  .homePage{
    .header {
      .h(1000px);
      .searchRow{
        top: 820px;
      }
      .searchTop{top:0px;}
      .logoTab{
        .tab{
          .w(240px);  .h(700px);
          .pd(30px 30px 130px);
        }
      }
    }
    .container{
     margin-top: -120px;
   }
  }
}
@media screen and  (min-width: 2300px){
  .homePage{
    .header {
      .h(1200px);
      .searchRow{
        top: 980px;
      }
      .searchTop{top:0px;}
      .logoTab{
        .tab{
          .w(300px);  .h(1000px);
          .pd(30px 50px 130px);
          .icon{
            img{
              .w(100px); .h(100px);
              .mg(200px auto 70px);
            }
          }
          h3{  .f(32px);  }
          .text{  .f(16px);  }
        }
      }
    }
    .container{
      margin-top: -120px;
      .row{
        .item{
          .thumbnail{
            .pd(0px);
            .avatar{
              .w(100%);
            }
            .caption{
              .pd(50px);
              h3{.c(#4e4e4e); .pd(10px 0px);  .f(32px);}
              p, .weibo, span{.t(left); .c(#4e4e4e); .f(16px);}
              .weibo{
                .pd(10px 0px);
                img{.h(26px); .mg(0px 10px 0px 0px); .vm();}
                span{
                  .c(#4e4e4e); .f(26px); .vm();
                }
              }
              a{.c(#4e4e4e); text-decoration: underline;word-wrap: break-word;}
            }
          }
        }
      }
    }
  }
  .searchPage{
    .container{
      .list{
        .item{
          .thumbnail{
            .caption{
              .pd(50px);
              h3{.c(#4e4e4e); .pd(10px 0px);  .f(32px);}
              p, .weibo, span{.t(left);  .c(#4e4e4e); .f(16px);}
              .weibo{
                .pd(10px 0px);
                img{.h(26px); .mg(0px 10px 0px 0px); .vm();}
                span{
                  .c(#4e4e4e); .f(26px); .vm();
                }
              }
              a{.c(#4e4e4e); text-decoration: underline;word-wrap: break-word;}
            }
          }
        }
      }
    }
  }
}
