div(class="row logoTab")
    div(class="col-md-2 tab")
        div(class="icon")
            img(src="/images/logo.png")
        h3= "K2 创业网络"
        div(class="text") 和1999年的 DoNews一样，2013年1月3日成立的 K2创业互助网络依然是一场实验，在 SNS 上实验公司合伙之外的价值创造兑现方法。
div(class="row searchRow")
    div(class="col-md-offset-9 col-md-3 col-sm-3")
        //img(src="/images/search.png")
        div(class="search")
            img(src="/images/magnifier.png")
            input(type="text", placeholder="搜索成员", class="searchInput")
