div(class="row logoTab")
    div(class="col-xs-5 col-sm-5 col-md-4 col-lg-3 tab")
        div(class="icon")
            img(src="/images/logo.png")
        h3= "K2 创业网络"
        div(class="text") 和 2000 年诞生的 DoNews 一样，2013 年 1 月 3 日创立的 K2 创业网络也是一场实验。多年之后，回望这段历史，K2 希望人们记住它最早在 SNS 上实验了公司合伙之外的价值创造方法，就像现在，人们用最早的博客实验记住当年的 DoNews…
div(class="row searchRow")
    div(class="col-md-offset-9 col-md-3 col-sm-3")
        //img(src="/images/search.png")
        div(class="search")
            img(src="/images/magnifier.png")
            input(type="text", placeholder="搜索成员", class="searchInput")
