extends ../index
block content
    body
        div(class="homePage")
            div(class="header")
                include header
            div(class="container")
                include ../components/list
            div(class="footer")
                include ../components/footer
