extends ../index
block content
    script(src="/dist/scripts/web/flow.js")
    div(class="homePage")
        div(class="header")
            include header
        div(class="container")
            include ../components/list
        div(class="footer")
            include ../components/footer
