extends ../index
block content
    script(src="/dist/scripts/web/search.js")
    div(class="searchPage")
        div(class="row header")
            div(class="col-xs-10 col-md-offset-9 col-md-3 searchPanel")
                div(class="search")
                    img(src="/images/magnifier.png")
                    input(type="text", class="searchInput" value="#{search_text}")
            div(class="col-xs-1 closeBtn")
                img(src="/images/closeBtn.png")
        - if(members && members.length)
            div(class="container")
                div(class="list")
                    include ../components/list
        - else if(members && members.length == 0)
            div(class="nolist")
                img(src="/images/cloud@2x.png")
                div 很抱歉，我们无法找到 <span class='searchName'> #{search_text} </span> 的结果
        //div(class="footer")
        //    include ../components/footer
