div(class="row searchBar")
    div(class="col-xs-6")
        div(class="search")
            img(src="/images/magnifier.png")
            input(type="text", class="searchInput", placeholder="搜索成员")
div(class="row cxt")
    div(class="col-xs-6 tab")
        div(class="icon")
            img(src="/images/logo.png")
        h3= "K2 创业网络"
        div(class="text") 和 2000 年诞生的 DoNews 一样，2013 年 1 月 3 日创立的 K2 创业网络也是一场实验。多年之后，回望这段历史，K2 希望人们记住它最早在 SNS 上实验了公司合伙之外的价值创造方法，就像现在，人们用最早的博客实验记住当年的 DoNews。…
