div(class="row searchBar")
    div(class="col-xs-6")
        div(class="search")
            img(src="/images/magnifier.png")
            input(type="text", class="searchInput")
div(class="row cxt")
    div(class="col-xs-5 tab")
        div(class="icon")
            img(src="/images/logo.png")
        h3= "K2 创业网络"
        div(class="text") 和1999年的 DoNews一样，2013年1月3日成立的 K2创业互助网络依然是一场实验，在 SNS 上实验公司合伙之外的价值创造兑现方法。
