extends ../index_mob
block content
    div(class="homePage")
        div(class="header")
            include header
        div(class="container")
            include ../components/list
        div(class="footer")
            include ../components/footer
                          